html,
body {
  padding: 0;
  margin: 0;
}

.navigaton {
  width: 20rem;
  background-color: #000011;
  position: absolute;
  top: 0;
  height: 100%;
  z-index: 10000;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body {
  overflow: hidden;
}
#globeViz {
  position: absolute;
  top: 0;
  left: 10rem;
}
.card {
  height: 6rem;
  width: 90%;
  background-color: #0e1f45;
  border-radius: 9px;
  margin-top: 1rem;
  color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 1rem;
  cursor: pointer;
}
.card__where {
}
.card__when {
}
.card__mag {
}

span {
  color: rgb(243, 243, 243);
}
.card__lat {
  visibility: hidden;
  display: none;
}
.card__lng {
  visibility: hidden;
  display: none;
}

.upperNav {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  grid-template-rows: 1fr, 2rem, 1fr;
  grid-gap: 0.5rem;
  justify-content: center;
  font-size: 0.8rem;
  margin-top: 2rem;
  width: 90%;
  height: 5rem;
}
.upperNavItem {
  margin-top: 0.3rem;
}
.UpperNavLinks {
  text-decoration: none;
  border: 1px solid white;

  border-radius: 9px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #000011;
}
.UpperNavLinks:hover {
  color: #000011;
  background-color: white;
}
.sortBy {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.3rem;
  border: 1px solid black;
  border-radius: 9px;
  border: 1px solid white;

  border-radius: 9px;
  color: white;
}
.sortByTime {
  grid-row: 2/3;
}
.sortByMagnitude {
  grid-row: 2/3;
}
.sortByText {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  grid-row: 2/3;
  border-radius: 9px;
  color: white;
}

.pages {
  width: 70%;
  height: 2rem;
  position: absolute;
  bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  font-weight: 900;
}
.nextPage {
  cursor: pointer;
  border: 1px solid rgb(255, 255, 255);
  padding: 0.3rem 1rem 0.3rem 1rem;
}
.nextPage:hover {
  background-color: white;
  color: black;
}
.previousePage {
  cursor: pointer;
  border: 1px solid white;
  padding: 0.3rem 1rem 0.3rem 1rem;
}
.previousePage:hover {
  background-color: white;
  color: black;
}
.cardsNavigator {
  display: flex;
  flex-direction: column;
  flex-grow: initial;
  width: 90%;
  margin-top: 0.5rem;
}
.titleOfTheApp {
  color: white;
  grid-column: 1/5;
  font-size: 1.2rem;
}
.lastUpdatedAt {
  color: white;
  grid-row: 3/4;
  grid-column: 1/5;
}
