html,
body {
  padding: 0;
  margin: 0;
}

.navigaton {
  width: 20rem;
  background-color: #000011;
  position: absolute;
  top: 0;
  height: 100%;
  z-index: 10000;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body {
}
#globeViz {
  position: absolute;
  top: 0;
  left: 10rem;
  color: rgb(21, 255, 0);
}
.card {
  height: 5rem;
  width: 90%;
  background-color: rgb(175, 193, 214);
  border-radius: 5px;
  margin-top: 1rem;
  color: white;
  position: relative;
  display: flex;
  flex-direction: column;
}
.card__where {
}
.card__when {
}
.card__mag {
}

span {
  color: black;
}
.card__lat {
  visibility: hidden;
  display: none;
}
.card__lng {
  visibility: hidden;
  display: none;
}
